
body {
  background-color: black;
  height: 500vh;
}

a { 
  color: white; 
  text-decoration: none; 
}

/* HERO SECTION */

.hero {
  display: flex;
  flex-direction: row;
}

.hero-container {
  height: 80vh;
  margin-top: 40px;
  width: 70%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-name {
  color: #8F754F;
  text-transform: uppercase;
  font-size: 100px;
}

.hero-title {
  color: white;
  text-transform: uppercase;
}

.hero-scroll {
  margin-top: 40px;
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* DEVICONS */

.devicon-git-plain {
  max-width: 2em;
}

/* change color of devicons here */
.devicon-git-plain path {
  fill: #385F71;
}

/* ABOUT ME */

  .story-skills-container {
    display: flex;
    flex-direction: row;
  }


.skills, .story {
  width: 50%;
  height: 40vh;
}

.story-text, .story-title {
  color: white;
}