
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');


body {
  background-color: black;
}

a { 
  color: white; 
  text-decoration: none; 
}


/* HERO SECTION */

.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.hero-container {
  height: 80vh;
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-name {
  color: #8F754F;
  text-transform: uppercase;
  font-size: 120px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  letter-spacing: 15px;
  border-bottom: 1px solid #8F754F;
  margin-bottom: -10px;
}

.hero-title {
  color: white;
  text-transform: uppercase;
  margin: 15px;
  font-weight: 400;
  text-transform: capitalize;
}


.bottom-title {
  display: flex;
  flex-direction: row;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
}

.hero-scroll {
  margin-top: 40px;
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 80vh;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.arrow-down {
  font-size: 24px;
}

/* DEVICONS */

.devicon-git-plain {
  width: 60px;
}

/* change color of devicons here */
.devicon-git-plain path {
  fill: #385F71;
}

/* ABOUT ME */

.icons-container, .story-text {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.icon-box {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.story-skills-container {
    display: flex;
    flex-direction: row;
  }

.skills, .story {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-title, .my, .project-title, .interest-title, .contact-title {
  color: #8F754F;
  letter-spacing: 3px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.story-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.skills {
  background-color: white;
  height: 100vh;
}

.story-text, .story-title {
  color: white;
}

.icon-text {
  color: #385F71;
  text-align: center;
}

.about-title-container {
  height: 30%;
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.story-text {
  text-transform: initial;
}

/* PROJECTS*/

.project-title {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  background-color: white;
  margin-top: -20px;
  font-family: 'Titillium Web', sans-serif;
}

.project-container-top, .project-container-bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

.project-one, .project-two, .project-three, .project-four {
  width: 50%;
  height: 100%;
}

.project-description {
  color: #385F71;
  font-size: 20px;
  text-align: center;
}

.info-container {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.project-icons svg {
  color: #8F754F;
  font-size: 32px;
  margin: 5px;
}

.tech, .project-name {
  font-size: 20px;
  color: #8F754F;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

button {
  background: none;
  border: 1px solid #8F754F;
  border-radius: 1.5rem;
  padding: 6px;
  width: 50%;
}

button:hover {
  background: #385f71b6;
    a {
  color: white;
    }
}

.live-buttons {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.project-link a, .github-link a {
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1px;
}

/* POLAROID */

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6rem;
  margin-top: 0.4rem;
}
.item {
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

/* FOOTER */

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  opacity: 0.5;
  

}

img:hover {
  filter: grayscale(0%);
  opacity: 0.7;
}

footer {
  width: 100%;
}

.contact-bottom, .contact-top {
  display: flex;
  flex-direction: row;
}

.contact-bottom {
  height: 60vh;
}
.contact-top {
  justify-content: space-around;
}

.interest-container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 30%;
}
.image-box-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-box {
  height: 45%;
  width: 35%;
  position: relative;
  margin: 15px;
}

.text {
  color: white;
  position: absolute;
  text-transform: uppercase;
  bottom: -5px;
  left: 10px;
  font-family: 'Just Another Hand', cursive;
  font-size: 16px;
  letter-spacing: 5px;
}

.contact-container {
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

.email, .linkedin, .github {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.email svg, .linkedin svg, .github svg {
  font-size: 26px;
  padding-bottom: -2px;
  color: white;
}

.email-box, .linkedin-box, .github-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.email-icon, .github-icon, .link-icon {
  text-align: center;
  font-size: 45px;
}

/* RESPONSIVENESS */

@media screen and (max-width: 990px) {

  .hero-name {
    text-align: center;
  }

  .bottom-title {
    font-size: 22px;
  }

  .about-title-container {
    height: 20%
  }
  .story-text{
    font-size: 18px;
  }

  .icon-text {
    font-size: 15px;
  }

  .project-description {
    font-size: 19px;
  }
  .live-buttons {
    width: 60%;
  }
  .project-link, .github-link {
    width: 70%;
  }

  .image-box-container {
    height: 80%
  }
  .email-icon, .github-icon, .link-icon {
    font-size: 34px;
  }

}

@media screen and (max-width: 780px) {

  .hero {
    flex-direction: column;
  }

  .hero-container {
    width: 100%;
  }

  .hero-scroll {
    width: 100%;
    height: 5%;
  }
  .devicon-git-plain {
    width: 45px;
  }
  .icon-text, .story-text {
    font-size: 15px;
  }

  .project-description {
    font-size: 16px;
  }

  .project-name, .tech {
    font-size: 17px;
  }

  .project-icons svg {
    font-size: 28px;
  }

  .contact-container {
    font-size: 12px;
  }
  .text {
    font-size: 14px;
  }
}


@media screen and (max-width: 594px) {
  .story-title {
    margin-top: -70px;
  }

  .story-text {
    margin-top: -70px;
  }
}