
body {
  background-color: black;
  height: 500vh;
}

a { 
  color: white; 
  text-decoration: none; 
}

/* HERO SECTION */

.hero {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.hero-container {
  height: 80vh;
  margin-top: 40px;
  width: 70%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-name {
  color: #8F754F;
  text-transform: uppercase;
  font-size: 100px;
}

.hero-title {
  color: white;
  text-transform: uppercase;
}

.hero-scroll {
  margin-top: 40px;
  width: 30%;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 80vh;
}
.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* DEVICONS */

.devicon-git-plain {
  width: 75px;
}

/* change color of devicons here */
.devicon-git-plain path {
  fill: #385F71;
}

/* ABOUT ME */

  .story-skills-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

.skills, .story {
  width: 50%;
  height: 80vh;
}
.skills-title, .my {
  color: #8F754F;
}
.skills {
  background-color: white;
  height: 100vh;
}

.story-text, .story-title {
  color: white;
}

.icon-text {
  color: #385F71;
}

/* PROJECTS*/

.projects {
  height: 100vh;
  background-color: white;
  margin-top: -20px;
}

.project-container-top, .project-container-bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.project-one, .project-two, .project-three, .project-four {
  width: 50%;
  height: 60vh;
}
// .project-title {
//   margin-top: 0;
// }

/* POLAROID */

.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6rem;
  margin-top: 0.4rem;
}
.item {
  width: 100%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

/* FOOTER */

footer {
  width: 100%;
  height: 75vh;
  border: 1px solid white;
}